@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    /* font-family: "Ubuntu", sans-serif; */
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Created with https://www.css-gradient.com */
    background: #c04040;
    background: -webkit-linear-gradient(top left, #c04040, #140b9c);
    background: -moz-linear-gradient(top left, #c04040, #140b9c);
    background: linear-gradient(to bottom right, #c04040, #140b9c);
  background-position: 100% 200%;
    animation: AnimationName 30s ease infinite;
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.box {
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background: #ada996;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left,
            #eaeaea,
            #dbdbdb,
            #f2f2f2,
            #ada996);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left,
            #eaeaea,
            #dbdbdb,
            #f2f2f2,
            #ada996);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-shadow: 21px 20px 52px 0px rgba(0, 0, 0, 0.59);
}

.social-links {
    list-style: none;
    width: 60%;
    height: 30%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.box i {
    font-size: 35px;
    color: black;
}

.box i:hover {
    color: #140b9c;
    font-size: 50px;
    transition: all .1s ease;
}

.box li {
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.box img {
    width: 150px;
    height: 150px;
}

h1 {
    font-size: 40px;
    padding: 10px 0 5px 0;
}

h2 {
    font-size: 25px;
    font-weight: 600;
    padding: 0px 0 5px 0;
}

button {
    width: 300px;
    color: white;
    background: #c04040;
    background: -webkit-linear-gradient(top left, #c04040, #140b9c);
    background: -moz-linear-gradient(top left, #c04040, #140b9c);
    background: linear-gradient(to bottom right, #c04040, #140b9c);
    font-size: 20px;
    font-weight: 700;
    padding: 15px 0;
    border: none;
    border-radius: 30px;

}
 button a{
    text-decoration: none;
    color: #eaeaea;
}

button:hover {
   
    color: white;
    transform: scale(1.1);
     transition: all .1s ease;
}